/* -------------------- COMPONENTS -------------------- */
:root{
    --iris-primary-brand: #4D5AE5;
    --navi-blue-dark: #2E2F42;
    --green-success: #31D0AA;
    --slate-text: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* czas dla perehodu */
    --transition-duration: 250ms;
    /* zmina background-color */
    --transition-durat-prop-func: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1) ;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
::after{
    box-sizing: content-box;
}
address {
    font-style: normal;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--slate-text);


    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
}
ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
/* p {
    display: inline;
} */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navi-blue-dark);
}
.section {
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
}
.section-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);

}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
/* ==================== / COMPONENTS ====================  */

/* -------------------- HEADER -------------------- */
.top-line-bg {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;

}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navi-blue-dark);
    padding: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-primary-brand);

    flex: none;
    order: 0;
    flex-grow: 0;
}
.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 77px;
    gap: 40px;
}


.studio-menu-link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
    transition: color var(--transition-duration-and-func);
}
.studio-menu-link::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 42px;
    left: -6px;
    padding: 0px 6px;
    background-color: var(--iris-primary-brand);
    border-radius: 2px;
}
.studio-menu-link:hover,
.studio-menu-link:focus {
    color: var(--iris-primary-brand);
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
    transition: color var(--transition-duration-and-func);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--iris-primary-brand);
}
.contact-mail-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
    margin-left: 331px;
    transition: color var(--transition-duration-and-func);
}
.contact-phone-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
    margin-left: 40px;
    transition: color var(--transition-duration-and-func);
}
.icon-contact {
    fill: currentColor;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--iris-primary-brand);
}
 .contact-mail-address:hover,
 .contact-mail-address:focus {
    color: var(--iris-primary-brand);
}
/* ==================== / HEADER ====================  */

/* -------------------- I SECTION - HERO -------------------- */
.section-hiro {
    justify-content: center;
}
.hiro-fon {
    width: 1440px;
    height: 603px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),url("../imades/people-office.jpg");
    background-size: cover;
    background-color: #434455;
}
.hiro-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.modal-btn {
    display: flex;
    margin-top: 48px;
    padding: 16px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--iris-primary-brand);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func);
}
.modal-btn:hover, 
.modal-btn:focus {
    background-color: var(--iris-primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
.modal-btn:active{
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* ==================== / I SECTION - HERO ====================  */

/* -------------------- II SECTION - BENEFITS -------------------- */
.section-ll {
    display: flex;
    justify-content: center;
}
.cont-sec-2 {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.sec-2-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 264px;
    padding: 0px;
    gap: 8px;
}
.ll-section-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: var(--cloud);
    border-radius: 4px;
}
/* ==================== / II SECTION - BENEFITS ====================  */

/* -------------------- III SECTION - What are we doing -------------------- */
.lll {
    padding-top: 0;
}
.lll-section {
    display: flex;
    flex-direction: column;
}
.lll-sec-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    gap: 24px;
}
.lll-sec-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.lll-section-img {
    width: 360px;
    height: 300px;
    box-sizing: border-box;
    background: linear-gradient(0deg, 
    rgba(77, 90, 229, 0.1), 
    rgba(77, 90, 229, 0.1));background-blend-mode: soft-light, normal;
}
.lll-section-img:hover,
.lll-section-img:focus {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), 
    url(2368.jpg);
    background-blend-mode: soft-light, normal; 
    border: 1px solid #E7E9FC;
}
/* ==================== / III SECTION - What are we doing ====================  */

/* -------------------- IV SECTION - Our Team -------------------- */
.team-fon {
    background-color: var(--cloud);
    background-position: center;
}
.lv-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lv-sec-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    gap: 24px;
    cursor: pointer;
}
.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    cursor: pointer;

    background: #FFFFFF;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.lv-sec-photo {
    width: 264px;
    height: 260px;

}
.team-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
.social-list {
    display: flex;
    gap: 16px;
}
/* posylania */
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: var(--transition-durat-prop-func);
}
.social-list-link:hover, 
.social-list-link:focus {
    background-color: var(--green-success);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.social-list-link:active {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-list-icon {
    fill: var(--cloud);
}
/* ==================== / IV SECTION - Our Team ====================  */

.v-section {
    display: flex;
    flex-direction: column;
}
.customers-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}
.customers-list-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    transition: border-color var(--transition-duration-and-func);

}
.customers-list-ikon {
    width: 168px;
    height: 88px;
    padding: 16px 32px; 
    fill: var(--light-slate);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    transition: fill var(--transition-duration-and-func);
}
.customers-list-link:hover,
.customers-list-link:focus {
    box-sizing: border-box;
    border: 1px solid var(--iris-primary-brand);
    border-radius: 4px;
    border-color: var(--transition-duration-and-func);
}
.customers-list-link:hover .customers-list-ikon,
.customers-list-link:focus .customers-list-ikon {
    fill: var(--iris-primary-brand);
    border: 1px solid var(--iris-primary-brand);
    border-radius: 4px;
}

.customers-list-ikon:hover,
.customers-list-ikon:focus {
    width: 168px;
    height: 88px;
    padding: 16px 32px; 
    fill: var(--iris-primary-brand);
    border: 1px solid var(--iris-primary-brand);
    border-radius: 4px;
    transition: fill var(--transition-duration-and-func);
}
/* -------------------- FOOTER -------------------- */
.footer-fon {
    background: var(--navi-blue-dark);
    background-position: center;
}
.footer-section {
    display: flex;
    flex-direction: row;
    padding: 100px 15px;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
}
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 264px;
    height: 110px;
}
.logo-link-footer {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    padding-top: 3px;
}
.section-description-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    margin-top: 16px;
}
.footer-title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-social-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px;
    gap: 16px;
    margin-left: 120px;
}
.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: var(--transition-durat-prop-func);
}
.footer-social-list-link:hover, 
.footer-social-list-link:focus {
    background: #31D0AA;
}
.social-list-icon {
    fill: var(--cloud);
}
.modal-subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.modal-subscribe-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:start;
}
.modal-subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 8px;
    background: var(--navi-blue-dark);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color var(--transition-duration-and-func);
}
.modal-subscribe-input:focus {
    outline: none;
    border: 1px solid var(--green-success);
    border-radius: 4px;
}
.modal-subscribe-input-desc {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.modal-subscribe-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin-left: 24px;
    gap: 16px;
    border-radius: 4px;
    align-self: center;
    background-repeat: no-repeat;
    background-color: var(--iris-primary-brand);
    transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func);
    color: var(--cloud);
}
.modal-subscribe-btn:hover,
.modal-subscribe-btn:focus {
    background-color: var(--iris-primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
/* ==================== / FOOTER ====================  */
/* -------------------- MODAL WINDOW -------------------- */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: border-color var(--transition-duration-and-func);
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
    border-radius: 50%;
}
.modal-close-btn:active {
    background: #404BBF;
}
.modal-close-btn:active .modal-close-btn-ikon {
    fill: var(--cloud);
}
.modal-close-btn-ikon {
    transition: fill var(--transition-duration-and-func);
}
.modal-close-btn:hover .modal-close-btn-ikon, 
.modal-close-btn:focus .modal-close-btn-ikon {
    border-radius: 50%;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-title-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
    margin-bottom: 14px;
}
.modal-form-field {
    margin-bottom: 8px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color var(--transition-duration-and-func);
}
.modal-form-input:focus {
    outline: none;
    border: 1px solid var(--iris-primary-brand);
    border-radius: 4px;
}
.modal-form-input-wrapper {
    display: block;
    position: relative;
}
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    display: block;
    transition: fill var(--transition-duration-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--iris-primary-brand);
}
.modal-form-input-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--light-slate);
    margin-bottom: 4px;
}
.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration-and-func);
}
.modal-form-message:focus {
    outline: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    border: 1px solid var(--iris-primary-brand);
    border-radius: 4px;
}
.modal-form-message::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    color: #757575;
}
.modal-form-check-desc::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #757575;
    border-radius: 2px;
    cursor: pointer;
    content: '';
    margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
    border: 1.25px solid var(--iris-primary-brand);
    background-color: var(--iris-primary-brand);
    background-image: url(../imades/Vector.svg);
    background-position: center, center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.modal-form-check:focus + .modal-form-check-desc::before {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}
.privacy-policy-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--iris-primary-brand);

}
.modal-form-submit {
    min-width: 169px;
    align-self: center;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--iris-primary-brand);
    transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func);
    color: var(--cloud);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--iris-primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
/* ==================== / MODAL WINDOW ====================  */
/* -------------------- PORTFOLIO -------------------- */
.logo-drop {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-menu-link:hover,
.portfolio-menu-link:focus {
    color: var(--iris-primary-brand);
}
.portfolio-menu-link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
    transition: color var(--transition-duration-and-func);
}
.portfolio-menu-link::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    
    top: 42px;
    left: -6px;
    padding: 0px 6px;
    background-color: var(--iris-primary-brand);
    border-radius: 2px;
}
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 72px;
}
.portfolio-filters-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 24px;
}
.filtr-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.filters-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--cloud);
    color: var(--iris-primary-brand);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    transition: var(--transition-durat-prop-func);
}
.filters-button:hover, 
.filters-button:focus {
    background: var(--iris-primary-brand);
    color: var(--cloud);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.portfolio-list-link-wrapper {
    
    display: block;
}
.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}
.project-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--cloud);
}
.img-portfolio {
    width: 360px;
    height: 300px;
    background: linear-gradient(0deg, 
    rgba(77, 90, 229, 0.1), 
    rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    padding-top: 40px;
    padding-bottom: 164px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgb(77, 90, 229, 0.8);
}
.portfolio-list-link-wrapper:hover .overlay, 
.portfolio-list-link-wrapper:focus .overlay {
    transform: translate(0, 0);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 8px;
}
.project-card:hover  
.project-card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ==================== / PORTFOLIO ====================  */

