.contact-mail-phone {
    flex-direction: row;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu-nav {
    margin-left: 77px;
}

.page-header {
    justify-content: center;
}

.hiro-section {
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hiro-fon {
    height: 436px;
}


@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-menu__container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .menu-nav {
        display: none;
    }

    .contact-mail-phone {
        display: none;
    }

    .contact-mail-address {
        display: none;
        list-style: none;
    }
    
    .li-li {
        display: none;
    }

    .contact-phone-number {
        display: none;
        list-style: none;
    }

    .mobile-menu-open {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .page-header {
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--navi-blue-dark);
        transition: color var(--transition-duration-and-func);
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--iris-primary-brand);
    }

    .mobile_mail-address {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-text);
        transition: color var(--transition-duration-and-func);
    }

    .mobile_mail-address:hover,
    .mobile_mail-address:focus {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;

        text-transform: capitalize;

        color: var(--iris-primary-brand);
    }

    .mobile_phone-number {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-text);
        transition: color var(--transition-duration-and-func);
    }

    .mobile_phone-number:hover,
    .mobile_phone-number:focus {
        font-weight: 500;
        font-size: 35px;
        line-height: 1.11;

        text-transform: capitalize;

        color: var(--iris-primary-brand);
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;

        max-width: 428px;

        max-height: 796px;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 500ms linear, visibility 500ms linear;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 40px;
        padding-right: 51px;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .mobile-menu_nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
    }

    .mobile__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin-top: 284px;
        gap: 40px;
    }

    .mobile__social-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        margin-top: 48px;
        gap: 56px;
    }

    .mobile-menu_close-btn {
    position: absolute;
    top: 22px;
    right: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    -webkit-transition: border-color var(--transition-duration-and-func);
    transition: border-color var(--transition-duration-and-func);
    }

                    // HIRO_START
 

    .hiro-section {
        justify-content: center;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hiro-fon {
        height: 432px;
    }


    .main-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    .modal-btn {
        margin-top: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        width: 768px;
    }

    .page-header {
        justify-content: space-between;
    }

    .menu-nav {
        margin-left: 100px;
    }

    .contact-mail-phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
    }

    .menu-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navi-blue-dark);
        transition: color var(--transition-duration-and-func);
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

                        // HIRO_START
 
    .hiro-section {
        justify-content: center;
        padding-top: 112px;
        padding-bottom: 108px;
    }

    .hiro-fon {
        height: 436px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
    .section {
        justify-content: center;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .studio-menu-link {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navi-blue-dark);
        transition: color var(--transition-duration-and-func);
    }

    .menu-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navi-blue-dark);
        transition: color var(--transition-duration-and-func);
    }

    .contact-mail-address {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color: var(--slate-text);
        margin-left: 118px;
        transition: color var(--transition-duration-and-func);
    }
    .contact-phone-number {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color: var(--slate-text);
        margin-left: 119px;
        margin-top: 4px;
        transition: color var(--transition-duration-and-func);
    }

}


